@import 'fonts/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'plugins/gridjs';
@import 'plugins/select';
@import 'plugins/multi-select';

.group\/menu-link:hover,
.animate {
  animation-iteration-count: 2;
  stroke-dasharray: 10;
}

.h-header {
  height: 3.75rem;
}

.group[data-layout=horizontal] .group-data-\[layout\=horizontal\]\:top-header {
  top: 3.75rem !important;
}
